.main-section__iceland {
    padding-top: 98px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    height: 80vh;
}

.main-section__hawaii {
    background: url(../assets/Images/hawaii.jpg) center center / cover no-repeat;
    padding-top: 98px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    height: 80vh;
}

.main-section__iceland {
    background: url(../assets/Images/iceland.jpg) center center / cover no-repeat;
    padding-top: 98px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    height: 80vh;
}

.main-section__greece {
    background: url(../assets/Images/greece.jpg) center center / cover no-repeat;
    padding-top: 98px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    height: 80vh;
}

.page-header {
    color: #fff;
}

.itinerary-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.itinerary-sections {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 20px 20px 60px;
    color: #000;
    
}

.itinerary-sections__header {
    border-bottom: solid 2px;   
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-bottom: 20px;
    width: 100%;
}

.itinerary-sections__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.itinerary-sections__list-item {
    background-color: #FEFAF5;
    padding: 10px 0;
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*
All pages must match the mock ups as closely as possible, being mindful of image distortion and proportions.

The site must use the assets provided.

Each page must have an identical navbar with the following style:

The Navigation Bar must be fixed to the top of the page
The background color must be #FFFFFF
The site logo/wordmark color must be #335576
The currently active page must be underlined using the color #DB7A4E
Each page must have an identical footer with the following style:

The background color must be #FEFAF5
The footer titles and text must be the color #335576
The footer subtitles must be the color #DB7A4E
The base font for the site must be Verdana.

Home Page - Hero Section:

The hero background color must be #FEFAF5
The text content must be left aligned
The slogan color must be #335576
The ‘Get Started’ Button background color must be #DB7A4E
Home Page - Recommendations Section:

The recommendations title must have the color of #335576
There will be 3 Cards, one for each destination (Iceland, Greece, Hawaii)
The destination name must be in the bottom right corner of the card
The border radius of the cards must be 5px
The border of the cards must be 1px solid black with an opacity of 20%
The box shadow of the cards must be:
Horizontal Offset: 0px
Vertical Offset: 4px
Blur: 4px
Color: Black, with an opacity of 20%
Destination Pages:

They must have a title with the destination name
The provided image asset for the destination must take up the full width/height of the background for the page.
They must have 3 Days of Itinerary activities including:
A title for the day of the week
4 Itinerary activities (e.g. Breakfast, Lunch, Dinner, Snorkeling)
Activities must have a background of #FEFAF5



*/