.hero-section {
    background-color: #FEFAF5;
    padding-top: 118px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-section__text {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 600px;
}

.hero-section__text-copy{
    margin: 30px 0;
}

.hero-section__image {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-content: center;

}
.hero-image {
    width: 450px;
}

button {
    background-color: #DB7A4E;
    color: #fff;
    border-style: none;
    border-radius: 40px;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: normal;
    width: 200px;
}

.recommendation-section {
    background-color: #fff;
    padding: 50px 110px;
}

.recommendation-section__cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.recommendation-section__cards {
    width: 200px;
    height: 300px;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0 0 0 / 20%);
    box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.hawaii {
    background: url(../assets/Images/hawaii.jpg) center center / cover no-repeat;
}

.iceland {
    background: url(../assets/Images/iceland.jpg ) center center / cover no-repeat;
}

.greece {
    background: url(../assets/Images/greece.jpg) center center / cover no-repeat;
}

.recommendation-section__cards-link {
    text-decoration: none;
}

